[submodule "deps/catch2"]
	path = deps/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/kangaru"]
	path = deps/kangaru
	url = https://github.com/gracicot/kangaru.git
[submodule "deps/trompeloeil"]
	path = deps/trompeloeil
	url = https://github.com/rollbear/trompeloeil.git
[submodule "deps/wil"]
	path = deps/wil
	url = https://github.com/microsoft/wil.git
